$gray-1:#606A82;//	text
$gray-2:#9399AA;//	text-indicador
$gray-3:#C8CBD4;//	icons-tooltips-separator
$gray-4:#E3E5E9;//	separator
$bg-page:#F2F3F9;//	background page
$bg-section:#E8F2FF;//	background section
$white:#FFFFFF;//	background-withe
$blue-1:#0583FF;//	text-blue - gradient
$blue-2:#0594F1;//	btn-secundary
$blue-3:#150A44;//	text-dark
$blue-4:#0D55FF; // info
$green-1:#00EBA7;//	green-1 gradient
$green-2:#37CC00;//	starts
$green-3:#01AC4C;//	text-green
$red-1:#FF2D21;//	decuento
$purple:#8154EF;//	badget