@import 'colors';
@import 'fonts';

$poppins: "Poppins" , sans-serif;

//mediaqueries
$tablet:980px;
$desktop:1024px;
$large:1280px;

//espacios
$space-xs:16px;
$space-md:20px;
$space-lg:30px;

//border-radius elementos
$radius-xs:6px;
$radius-md:10px;

//max width container
$max-width:1440px;

